# Preparing data

### Reading DataFrames from multiple files in a loop

In [1]:
import pandas as pd

In [8]:
filenames = ['summer_olympic_medals/Silver.csv', 'summer_olympic_medals/Bronze.csv', 'summer_olympic_medals/Gold.csv']
dataframes = []

In [9]:
for filename in filenames:
    dataframes.append(pd.read_csv(filename))
    
dataframes[1].head()

   NOC         Country   Total
0  USA   United States  1052.0
1  URS    Soviet Union   584.0
2  GBR  United Kingdom   505.0
3  FRA          France   475.0
4  GER         Germany   454.0

### Combining DataFrames from multiple data files

In [10]:
medals = dataframes[2].copy()
new_labels = ['NOC', 'Country', 'Gold']
medals.columns = new_labels

In [11]:
medals['Silver'] = dataframes[0]['Total']
medals['Bronze'] = dataframes[1]['Total']
medals.head()

   NOC         Country    Gold  Silver  Bronze
0  USA   United States  2088.0  1195.0  1052.0
1  URS    Soviet Union   838.0   627.0   584.0
2  GBR  United Kingdom   498.0   591.0   505.0
3  FRA          France   378.0   461.0   475.0
4  GER         Germany   407.0   350.0   454.0