# Data Cleaning

In [114]:
import pandas as pd
import re
import numpy as np

In [2]:
df = pd.read_csv('AiSD2.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 17 columns):
Imię                  11 non-null object
      Nazwisko        11 non-null object
           Z1(4+1)    11 non-null object
  Z2(4+1)             11 non-null object
    Z3(4+1)           11 non-null object
   Z4(4+1)            11 non-null object
   Z5(2+2)            11 non-null object
   Z6(4+1)            11 non-null object
  Z7(4+1)             11 non-null object
   Z8(4+1)            11 non-null object
   Z9(4+1)            11 non-null object
 Z10(4+1)             11 non-null object
    Z11(4+1)          11 non-null object
  Z12(4+1)            11 non-null object
            Z13(5)    11 non-null object
  Z14(4+1)            11 non-null object
Z15(5)                11 non-null object
dtypes: object(17)
memory usage: 1.5+ KB

In [4]:
df.columns = df.columns.str.strip()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 17 columns):
Imię        11 non-null object
Nazwisko    11 non-null object
Z1(4+1)     11 non-null object
Z2(4+1)     11 non-null object
Z3(4+1)     11 non-null object
Z4(4+1)     11 non-null object
Z5(2+2)     11 non-null object
Z6(4+1)     11 non-null object
Z7(4+1)     11 non-null object
Z8(4+1)     11 non-null object
Z9(4+1)     11 non-null object
Z10(4+1)    11 non-null object
Z11(4+1)    11 non-null object
Z12(4+1)    11 non-null object
Z13(5)      11 non-null object
Z14(4+1)    11 non-null object
Z15(5)      11 non-null object
dtypes: object(17)
memory usage: 1.5+ KB

In [6]:
df.head(10)

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NA
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NA
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NA
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA
5,Bartłomiej,Wójcik,2.0+1.0,2.0+1.0,2.5+0.5,1.5+1.5,0.5+1.0,1.75+0.5,0.0+1.0,1.5+1.0,4.0+1.0,ZW+ZW,0.5+1.0,3.0+0.0,4.0+1.0,3.5+0.0,NA
6,Łukasz,Kamiński,4.0+1.0,2.0+1.0,3.5+1.0,1.5+0.5,1.5+0.5,US+1.0,0.5+1.0,2.0+1.0,3.5+1.0,2.0+0.0,0.5+0.5,3.0+1.0,2.0+1.0,4.0+1.0,NA
7,Oskar,Kowalczyk,4.0+0.5,4.0+1.0,2.0+1.0,4.0+2.0,2.0+1.0,1.5+0.0,1.0+1.0,4.0+1.0,4.0+1.0,1.0+0.5,0.0+NB,3.5+1.0,4.0+1.0,3.0+0.0,NA
8,Joanna,Zielińska,2.5+0.0,US+US,0.5+0.0,1.0+0.0,0.5+1.0,1.0+0.0,0.5+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA
9,Oktawia,Szymański,2.5+1.0,0.0+0.0,1.0+0.5,0.0+1.5,0.5+0.5,NB+NB,0.0+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA

In [7]:
df = pd.read_csv('AiSD2.csv', skipinitialspace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 17 columns):
Imię        11 non-null object
Nazwisko    11 non-null object
Z1(4+1)     11 non-null object
Z2(4+1)     11 non-null object
Z3(4+1)     11 non-null object
Z4(4+1)     11 non-null object
Z5(2+2)     11 non-null object
Z6(4+1)     11 non-null object
Z7(4+1)     11 non-null object
Z8(4+1)     11 non-null object
Z9(4+1)     11 non-null object
Z10(4+1)    11 non-null object
Z11(4+1)    11 non-null object
Z12(4+1)    11 non-null object
Z13(5)      11 non-null object
Z14(4+1)    11 non-null object
Z15(5)      0 non-null float64
dtypes: float64(1), object(16)
memory usage: 1.5+ KB

In [8]:
df = pd.read_csv('AiSD2.csv', sep=" *, *", engine="python")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 17 columns):
ImiÄ™       11 non-null object
Nazwisko    11 non-null object
Z1(4+1)     11 non-null object
Z2(4+1)     11 non-null object
Z3(4+1)     11 non-null object
Z4(4+1)     11 non-null object
Z5(2+2)     11 non-null object
Z6(4+1)     11 non-null object
Z7(4+1)     11 non-null object
Z8(4+1)     11 non-null object
Z9(4+1)     11 non-null object
Z10(4+1)    11 non-null object
Z11(4+1)    11 non-null object
Z12(4+1)    11 non-null object
Z13(5)      11 non-null object
Z14(4+1)    11 non-null object
Z15(5)      0 non-null float64
dtypes: float64(1), object(16)
memory usage: 1.5+ KB

In [152]:
df = pd.read_csv('AiSD2.csv', skipinitialspace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 17 columns):
Imię        11 non-null object
Nazwisko    11 non-null object
Z1(4+1)     11 non-null object
Z2(4+1)     11 non-null object
Z3(4+1)     11 non-null object
Z4(4+1)     11 non-null object
Z5(2+2)     11 non-null object
Z6(4+1)     11 non-null object
Z7(4+1)     11 non-null object
Z8(4+1)     11 non-null object
Z9(4+1)     11 non-null object
Z10(4+1)    11 non-null object
Z11(4+1)    11 non-null object
Z12(4+1)    11 non-null object
Z13(5)      11 non-null object
Z14(4+1)    11 non-null object
Z15(5)      0 non-null float64
dtypes: float64(1), object(16)
memory usage: 1.5+ KB

In [153]:
df['email'] = df.Nazwisko.str.lower() + df.Imię.str.lower().str[0]

In [154]:
df.email = df.email.str.replace('ł','l').str.normalize('NFKD')\
       .str.encode('ascii', errors='ignore')\
       .str.decode('utf-8')

df.email = df.email + '@domain.pl'
df

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5),email
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NaN,nowaka@domain.pl
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NaN,kowalskir@domain.pl
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NaN,wisniewskip@domain.pl
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NaN,dabrowskia@domain.pl
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,lewandowskij@domain.pl
5,Bartłomiej,Wójcik,2.0+1.0,2.0+1.0,2.5+0.5,1.5+1.5,0.5+1.0,1.75+0.5,0.0+1.0,1.5+1.0,4.0+1.0,ZW+ZW,0.5+1.0,3.0+0.0,4.0+1.0,3.5+0.0,NaN,wojcikb@domain.pl
6,Łukasz,Kamiński,4.0+1.0,2.0+1.0,3.5+1.0,1.5+0.5,1.5+0.5,US+1.0,0.5+1.0,2.0+1.0,3.5+1.0,2.0+0.0,0.5+0.5,3.0+1.0,2.0+1.0,4.0+1.0,NaN,kaminskil@domain.pl
7,Oskar,Kowalczyk,4.0+0.5,4.0+1.0,2.0+1.0,4.0+2.0,2.0+1.0,1.5+0.0,1.0+1.0,4.0+1.0,4.0+1.0,1.0+0.5,0.0+NB,3.5+1.0,4.0+1.0,3.0+0.0,NaN,kowalczyko@domain.pl
8,Joanna,Zielińska,2.5+0.0,US+US,0.5+0.0,1.0+0.0,0.5+1.0,1.0+0.0,0.5+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,zielinskaj@domain.pl
9,Oktawia,Szymański,2.5+1.0,0.0+0.0,1.0+0.5,0.0+1.5,0.5+0.5,NB+NB,0.0+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,szymanskio@domain.pl
10,Patryk,Woźniak,2.0+1.0,4.0+1.0,2.5+1.0,3.0+2.0,1.0+0.5,1.0+0.5,1.0+0.5,2.0+1.0,4.0+1.0,2.0+0.5,4.0+1.0,4.0+1.0,2.0+0.0,4.0+1.0,NaN,wozniakp@domain.pl

In [155]:
", ".join(df.email)

'nowaka@domain.pl, kowalskir@domain.pl, wisniewskip@domain.pl, dabrowskia@domain.pl, lewandowskij@domain.pl, wojcikb@domain.pl, kaminskil@domain.pl, kowalczyko@domain.pl, zielinskaj@domain.pl, szymanskio@domain.pl, wozniakp@domain.pl'

In [156]:
df.email.str.cat(sep=', ')

'nowaka@domain.pl, kowalskir@domain.pl, wisniewskip@domain.pl, dabrowskia@domain.pl, lewandowskij@domain.pl, wojcikb@domain.pl, kaminskil@domain.pl, kowalczyko@domain.pl, zielinskaj@domain.pl, szymanskio@domain.pl, wozniakp@domain.pl'

In [280]:
df2 = df.copy()
pattern = r"Z(\d+)\((\d+)\+(\d+)\)"
df2.rename(columns={"Z13(5)": "Z13(4+1)"}, inplace=True)

In [281]:
for col in df2.columns:
    if '+' in col:
        name_extr = re.findall(pattern, col)
        col0_name = 'Z'+name_extr[0][0]+'(' + name_extr[0][1] + ')'
        col1_name = 'D'+name_extr[0][0]+'(' + name_extr[0][2] + ')'
        df2['str_split'] = df2[col].str.split('+')
        df2[col0_name] = df2.str_split.str.get(0)
        df2[col1_name] = df2.str_split.str.get(1)
        del df2[col]
del df2['str_split']
del df2['Z15(5)']

In [282]:
df2

,Imię,Nazwisko,email,Z1(4),D1(1),Z2(4),D2(1),Z3(4),D3(1),Z4(4),...,Z10(4),D10(1),Z11(4),D11(1),Z12(4),D12(1),Z13(4),D13(1),Z14(4),D14(1)
0,Anna,Nowak,nowaka@domain.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,2.0,0.0,0.5,1.0,ZW,ZW,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@domain.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,0.0,NB,1.0,1.0,NS.(3.0),NS.(1.0),4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@domain.pl,2.5,0.5,US,1.0,2.5,1.0,1.5,...,ZW,ZW,1.0,0.5,3.5,1.0,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@domain.pl,0.5,1.0,1.0,1.0,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,Jarosław,Lewandowski,lewandowskij@domain.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
5,Bartłomiej,Wójcik,wojcikb@domain.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,ZW,ZW,0.5,1.0,3.0,0.0,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@domain.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,2.0,0.0,0.5,0.5,3.0,1.0,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@domain.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,0.5,0.0,NB,3.5,1.0,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@domain.pl,2.5,0.0,US,US,0.5,0.0,1.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
9,Oktawia,Szymański,szymanskio@domain.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
10,Patryk,Woźniak,wozniakp@domain.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,2.0,0.5,4.0,1.0,4.0,1.0,2.0,0.0,4.0,1.0

In [283]:
def recode_na_nb_ns(value):
    if 'NA' in value or 'NS' in value or 'NB' in value:
        return '0'
    if 'ZW' in value or 'US' in value:
        return np.NaN
    else:
        return value

for col in df2.columns:
    if 'Z' in col or 'D' in col:
        df2[col] = df2[col].apply(recode_na_nb_ns)

for col in df2.columns:
    if 'Z' in col or 'D' in col:
        df2[col]=df2[col].astype(float)

In [284]:
# df2.replace(['NA', r'NS.+', 'NB'], 0, regex=True)
# df2.iloc[:,3:7].astype(float)
# df2.filter(regex="^[ZD]", axis=1).astype(float)

In [285]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 31 columns):
Imię        11 non-null object
Nazwisko    11 non-null object
email       11 non-null object
Z1(4)       11 non-null float64
D1(1)       11 non-null float64
Z2(4)       9 non-null float64
D2(1)       10 non-null float64
Z3(4)       11 non-null float64
D3(1)       11 non-null float64
Z4(4)       11 non-null float64
D4(1)       11 non-null float64
Z5(2)       11 non-null float64
D5(2)       11 non-null float64
Z6(4)       10 non-null float64
D6(1)       11 non-null float64
Z7(4)       11 non-null float64
D7(1)       11 non-null float64
Z8(4)       11 non-null float64
D8(1)       11 non-null float64
Z9(4)       11 non-null float64
D9(1)       11 non-null float64
Z10(4)      9 non-null float64
D10(1)      9 non-null float64
Z11(4)      11 non-null float64
D11(1)      11 non-null float64
Z12(4)      10 non-null float64
D12(1)      10 non-null float64
Z13(4)      11 non-null float64
D13(1)      11 non-null float64
Z14(4)      11 non-null float64
D14(1)      11 non-null float64
dtypes: float64(28), object(3)
memory usage: 2.7+ KB

In [286]:
# for col in df2.columns:
#     if 'Z' in col or 'D' in col:
#         for i, row_value in df2[col].iteritems():
#             if np.isnan(df2.iloc[[i],col]):
#                 mean_x = np.nanmean(df2.iloc[[i],3:].values)
#                 mean_y = df2[col].mean()
#                 print((mean_x+mean_y)/2)

In [287]:
for columnIndex in range(3, 31):
    for rowIndex in range(df2.shape[0]):
        if np.isnan(df2.iloc[rowIndex, columnIndex]):
            df2.iloc[rowIndex, columnIndex] = \
                np.mean(np.r_[df2.iloc[:, columnIndex].mean(),\
                              df2.iloc[rowIndex, 3:31].mean()])  
df2

,Imię,Nazwisko,email,Z1(4),D1(1),Z2(4),D2(1),Z3(4),D3(1),Z4(4),...,Z10(4),D10(1),Z11(4),D11(1),Z12(4),D12(1),Z13(4),D13(1),Z14(4),D14(1)
0,Anna,Nowak,nowaka@domain.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,2.00000,0.000000,0.5,1.0,1.580769,0.932977,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@domain.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,0.00000,0.000000,1.0,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@domain.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,1.27547,0.932920,1.0,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@domain.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@domain.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wojcikb@domain.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,1.13012,0.807389,0.5,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@domain.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,2.00000,0.000000,0.5,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@domain.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,1.00000,0.500000,0.0,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@domain.pl,2.5,0.0,1.339726,0.579439,0.5,0.0,1.0,...,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
9,Oktawia,Szymański,szymanskio@domain.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
10,Patryk,Woźniak,wozniakp@domain.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,2.00000,0.500000,4.0,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0

In [290]:
sumP = df2.columns.str.extract("\((\d+)\)")[0].astype(float).sum()
sumP

69.0

In [291]:
df2.sum(axis=1)

0     40.513746
1     35.500000
2     48.310613
3      3.500000
4     14.250000
5     39.187509
6     42.918519
7     49.000000
8      8.919166
9      7.500000
10    48.500000
dtype: float64

In [294]:
df2[f"sum({sumP})"] = df2.sum(axis=1)
df2

,Imię,Nazwisko,email,Z1(4),D1(1),Z2(4),D2(1),Z3(4),D3(1),Z4(4),...,D10(1),Z11(4),D11(1),Z12(4),D12(1),Z13(4),D13(1),Z14(4),D14(1),sum(69.0)
0,Anna,Nowak,nowaka@domain.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,0.000000,0.5,1.0,1.580769,0.932977,4.0,0.0,4.0,1.0,40.513746
1,Rafał,Kowalski,kowalskir@domain.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,0.000000,1.0,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0,35.500000
2,Pavlo,Wiśniewski,wisniewskip@domain.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,0.932920,1.0,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0,48.310613
3,Aleksy,Dąbrowski,dabrowskia@domain.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,3.500000
4,Jarosław,Lewandowski,lewandowskij@domain.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,14.250000
5,Bartłomiej,Wójcik,wojcikb@domain.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,0.807389,0.5,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0,39.187509
6,Łukasz,Kamiński,kaminskil@domain.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.000000,0.5,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0,42.918519
7,Oskar,Kowalczyk,kowalczyko@domain.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.500000,0.0,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0,49.000000
8,Joanna,Zielińska,zielinskaj@domain.pl,2.5,0.0,1.339726,0.579439,0.5,0.0,1.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,8.919166
9,Oktawia,Szymański,szymanskio@domain.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,7.500000
10,Patryk,Woźniak,wozniakp@domain.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,0.500000,4.0,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0,48.500000

In [296]:
df2["percent"] = df2["sum(69.0)"]/sumP
df2

,Imię,Nazwisko,email,Z1(4),D1(1),Z2(4),D2(1),Z3(4),D3(1),Z4(4),...,Z11(4),D11(1),Z12(4),D12(1),Z13(4),D13(1),Z14(4),D14(1),sum(69.0),percent
0,Anna,Nowak,nowaka@domain.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,0.5,1.0,1.580769,0.932977,4.0,0.0,4.0,1.0,40.513746,0.587156
1,Rafał,Kowalski,kowalskir@domain.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,1.0,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0,35.500000,0.514493
2,Pavlo,Wiśniewski,wisniewskip@domain.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,1.0,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0,48.310613,0.700154
3,Aleksy,Dąbrowski,dabrowskia@domain.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,3.500000,0.050725
4,Jarosław,Lewandowski,lewandowskij@domain.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,14.250000,0.206522
5,Bartłomiej,Wójcik,wojcikb@domain.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,0.5,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0,39.187509,0.567935
6,Łukasz,Kamiński,kaminskil@domain.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.5,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0,42.918519,0.622008
7,Oskar,Kowalczyk,kowalczyko@domain.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.0,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0,49.000000,0.710145
8,Joanna,Zielińska,zielinskaj@domain.pl,2.5,0.0,1.339726,0.579439,0.5,0.0,1.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,8.919166,0.129263
9,Oktawia,Szymański,szymanskio@domain.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,7.500000,0.108696
10,Patryk,Woźniak,wozniakp@domain.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,4.0,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0,48.500000,0.702899

In [298]:
df2['marks']=pd.cut(df2.percent, [0.0,0.5,0.6,0.7,0.8,0.9,1.0],
                    labels=[2.0,3.0,3.5,4.0,4.5,5.0])
df2

,Imię,Nazwisko,email,Z1(4),D1(1),Z2(4),D2(1),Z3(4),D3(1),Z4(4),...,D11(1),Z12(4),D12(1),Z13(4),D13(1),Z14(4),D14(1),sum(69.0),percent,marks
0,Anna,Nowak,nowaka@domain.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,1.0,1.580769,0.932977,4.0,0.0,4.0,1.0,40.513746,0.587156,3.0
1,Rafał,Kowalski,kowalskir@domain.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0,35.500000,0.514493,3.0
2,Pavlo,Wiśniewski,wisniewskip@domain.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0,48.310613,0.700154,4.0
3,Aleksy,Dąbrowski,dabrowskia@domain.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,3.500000,0.050725,2.0
4,Jarosław,Lewandowski,lewandowskij@domain.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,14.250000,0.206522,2.0
5,Bartłomiej,Wójcik,wojcikb@domain.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0,39.187509,0.567935,3.0
6,Łukasz,Kamiński,kaminskil@domain.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0,42.918519,0.622008,3.5
7,Oskar,Kowalczyk,kowalczyko@domain.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0,49.000000,0.710145,4.0
8,Joanna,Zielińska,zielinskaj@domain.pl,2.5,0.0,1.339726,0.579439,0.5,0.0,1.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,8.919166,0.129263,2.0
9,Oktawia,Szymański,szymanskio@domain.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,7.500000,0.108696,2.0
10,Patryk,Woźniak,wozniakp@domain.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0,48.500000,0.702899,4.0