# JSON

In [2]:
import io, os.path, re
import requests, urllib, json
import numpy as np
import pandas as pd

In [10]:
def mojeIP():
    response = requests.get('http://httpbin.org/ip')
    my_ip = json.loads(response.text)
    return my_ip['origin']

In [11]:
print(mojeIP())

217.67.203.51

In [112]:
def getNumberFact(api_type, num1, num2=None, multiple=False):
    """
    type is one of trivia, math, date, or year. Defaults to trivia if omitted.
    number isan integer, or the keyword random, for which we will try to return a random available fact, or
    a day of year in the form month/day (eg. 2/29, 1/09, 04/1), if type is date
    """
    if api_type not in ['trivia','math','date','year']:
        return 'You did something wrong'
    if not multiple:
        if not num2 is None:
            digit = str(num1) +'/'+ str(num2)
        else:
            digit = str(num1)
    elif num2 is None:
        return "You didnt specify second number"
    else:
        digit = str(num1) +'..'+ str(num2)
    url = 'http://numbersapi.com/%s/%s?json' % (digit, api_type)
    response = requests.get(url)
    resp_json = json.loads(response.text)
    if not multiple:
        ret = resp_json['text']
    else:
        ret = pd.DataFrame(resp_json).T[['number','text']]
    return ret

In [113]:
getNumberFact('trivia', 3)

'3 is number of performers in a trio.'

In [114]:
getNumberFact('date', 3, 5)

'March 5th is the day in 1946 that Winston Churchill uses the phrase "Iron Curtain" in his speech at Westminster College, Missouri.'

In [115]:
getNumberFact('some', 3, 5)

'You did something wrong'

In [116]:
getNumberFact('trivia', 3, 10, True)

   number                                               text
3       3  3 is the cost in cents to make a $1 bill in th...
4       4  4 is the number of strings on a violin, a viol...
5       5  5 is the number of interlocked rings in the sy...
6       6  6 is the number of symbolic foods placed on th...
7       7  7 is the number of types of viruses according ...
8       8    8 is the number of planets in the Solar System.
9       9  9 is the number of innings in a regulation, no...
10     10  10 is the number of fingers on a pair of human...

In [117]:
pd.read_json('http://numbersapi.com/1..3/year?json', orient="index")

   found  number                                               text  type
1      1       1  1 is the year that the Kingdom of Aksum, cente...  year
2      1       2  2 is the year that Cedeides becomes Archon of ...  year
3      1       3  3 is the year that Lucius Aelius Lamia and Mar...  year